{% extends "base.html.twig" %}


{% block container %}
	<div class="col-lg-8 mx-auto mt-3 p-3">
		<div class="card" style="width: 100%;">
			<div class="card-body">
				<div class="card-title col-lg-12 row">
                    <h5 class="col">
						<i class="bi bi-tags-fill"></i>
                        Crear una nueva categoria
                    </h5>
                    
                    <div class="col">
                        <a href="{{ full_url_for("categories") }}" class="btn btn-primary">
							Regresar
                        </a>
                    </div>
				</div>

				<div>
					<p>Campos requeridos <span class="text-danger" style="font-size:20px;">*</span></p>
				</div>

				<form action="{{ full_url_for('store_category') }}" method="POST" >

					<div class="mb-3">
						<label for="nombreCategoria" class="form-label">Nombre del rol: <span class="text-danger" style="font-size:20px;">*</span></label>
						<input type="text" name="nombreCategoria" class="form-control" id="nombreCategoria" aria-describedby="nombreCategoria" require>
					</div>
					<div class="mb-3">
						<label for="descripcionCategoria" class="form-label">Descripcion del rol: </label>
						<input type="text" name="descripcionCategoria" class="form-control" id="descripcionCategoria" require>
					</div>
					<div class="mb-3">
						<label for="estatus" class="form-label">Estatus: </label>
						<select class="form-select" aria-label="estatus" id="estatus" name="estatus">
							<option value="1" selected>Activo</option>
							<option value="0">Inactivo</option>
						</select>
					</div>
					
					<button type="submit" class="btn btn-success">Guardar</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
