{% extends "base.html.twig" %}


{% block container %}
	<div class="col-lg-8 mx-auto mt-3 p-3">
		<div class="card" style="width: 100%;">
			<div class="card-body">
				<div class="card-title col-lg-12 row">
                    <h5 class="col">
						<i class="bi bi-cart-check-fill" ></i>
                        Agregar un nuevo producto
                    </h5>
                    
                    <div class="col">
                        <a href="{{ full_url_for("products") }}" class="btn btn-primary">
							Regresar
                        </a>
                    </div>
				</div>

				<div>
					<p>Campos requeridos <span class="text-danger" style="font-size:20px;">*</span></p>
				</div>

				<form action="{{ full_url_for('store_product') }}" method="POST" class="row" >

					<div class="mb-3 col-lg-6">
						<label for="nombreProducto" class="form-label">Nombre del producto: <span class="text-danger" style="font-size:20px;">*</span></label>
						<input type="text" name="nombreProducto" class="form-control" id="nombreProducto" aria-describedby="nombreProducto" require>
					</div>
					<div class="mb-3 col-lg-6">
						<label for="numeroSerie" class="form-label">No. De serie: </label>
						<input type="text" name="numeroSerie" class="form-control" id="numeroSerie" aria-describedby="numeroSerie" >
					</div>
					<div class="mb-3 col-lg-6">
						<label for="descripcionProducto" class="form-label">Descripcion del producto: <span class="text-danger" style="font-size:20px;">*</span></label>
						<input type="text" name="descripcionProducto" class="form-control" id="descripcionProducto" require>
					</div>
					<div class="mb-3 col-lg-6">
						<label for="precioCosto" class="form-label">Precio de costo: <span class="text-danger" style="font-size:20px;">*</span></label>
						<input type="text" placeholder="$" name="precioCosto" class="form-control" id="precioCosto" require>
					</div>
					<div class="mb-3 col-lg-6">
						<label for="precioPublico" class="form-label">Precio al publico: <span class="text-danger" style="font-size:20px;">*</span></label>
						<input type="text" placeholder="$" name="precioPublico" class="form-control" id="precioPublico" require>
					</div>
					<div class="mb-3 col-lg-6">
						<label for="enStock" class="form-label">En stock: <span class="text-danger" style="font-size:20px;">*</span></label>
						<input type="text" placeholder="$" name="enStock" class="form-control" id="enStock" require>
					</div>
					<div class="mb-3 col-lg-6">
						<label for="rol" class="form-label">Categoria: <span class="text-danger" style="font-size:20px;">*</span></label>
						<select class="form-select" aria-label="categoria" id="categoria" name="categoria">
							<option selected disabled>Seleccione una categoria</option>
							{% for category in categories %}
								<option value="{{ category.id }}" >  
									{{ category.nombreCategoria }}  
								 </option>
							{% endfor %}
						</select>
					</div>
					<div class="mb-3 col-lg-6">
						<label for="estatus" class="form-label">Estatus: </label>
						<select class="form-select" aria-label="estatus" id="estatus" name="estatus">
							<option value="1" selected>Activo</option>
							<option value="0">Inactivo</option>
						</select>
					</div>
					<div class="col-lg-4 mx-auto">
						<button type="submit" class="btn btn-success col-lg-12">Agregar</button>
					<div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
