{% extends "base.html.twig" %}


{% block container %}
	<div class="col-lg-8 mx-auto mt-3 p-3">
		<div class="card" style="width: 100%;">
			<div class="card-body">
				<div class="card-title col-lg-12 row">
                    <h5 class="col">
                        <i class="bi bi-people-fill"></i>
                        Editar un rol
                    </h5>
                    
                    <div class="col">
                        <a href="{{ full_url_for("roles") }}" class="btn btn-primary">
							Regresar
                        </a>
                    </div>
				</div>

				<div>
					<p>Campos requeridos <span class="text-danger" style="font-size:20px;">*</span></p>
				</div>

				<form action="{{ full_url_for('update_rol', {'id': rol.id}) }}" method="POST" >

					<div class="mb-3">
						<label for="nombreRol" class="form-label">Nombre del rol: <span class="text-danger" style="font-size:20px;">*</span></label>
						<input type="text" name="nombreRol" value="{{ rol.nombreRol }}" class="form-control" id="nombreRol" aria-describedby="nombreRol" require>
					</div>
					<div class="mb-3">
						<label for="descripcionRol" class="form-label">Descripcion del rol: </label>
						<input type="text" name="descripcionRol" value="{{ rol.descripcionRol }}" class="form-control" id="descripcionRol" require>
					</div>
					<div class="mb-3">
						<label for="estatus" class="form-label">Estatus: </label>
						<select class="form-select" aria-label="estatus" id="estatus" name="estatus">
							<option value="1" {% if rol.active == 1 %} selected {% endif %}>Activo</option>
							<option value="0" {% if rol.active == 0 %} selected {% endif %}>Inactivo</option>
						</select>
					</div>
					
					<button type="submit" class="btn btn-success">Guardar</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
