#container-main-sidebar{
    height: 100%;
}

#container-main-sidebar #container-sidebar .container-link{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 22px;
    height: 78px;   
}

#container-main-sidebar #container-sidebar div .link{
    text-decoration: none; 
    color:white;
}

#container-main-sidebar #container-sidebar div:hover{
    background-color: rgb(160, 159, 159); 
}

#container-main-sidebar #container-sidebar div:hover .link{
    color: white;
}
