#container-main-sidebar{
    height: 100%;
}

#container-main-sidebar #container-sidebar .container-link {
    margin-top: 30px;
}

#container-main-sidebar #container-sidebar .container-link .link .button-link{
    border: 1px solid white;
    height: 50px;
    width: 100% ;
}

#container-main-sidebar #container-sidebar .container-link .link .button-link{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    height: 50px;
    width: 100% ;
}

#container-main-sidebar #container-sidebar .container-link .link .button-link:hover{
    background-color: rgb(201 201 201)!important;
    color:black!important; 
}
