<div id="container-sidebar" class="col-lg-12 bg-dark text-white text-center">
  <ul id="ul-sidebar" class="p-3">
    <li class="p-3 mt-3">
      <button class="btn btn-dark border"><a href="/">Incio</a></button>
    </li>
    <li class="p-3 mt-3">
      <button class="btn btn-dark border"><a href="">Usuarios</a></button>
    </li>
    <li class="p-3 mt-3">
      <button class="btn btn-dark border"><a href="">Categorías</a></button>
    </li>
    <li class="p-3 mt-3">
      <button class="btn btn-dark border"><a href="">Productos</a></button>
    </li>
    <li class="p-3 mt-3">
      <button class="btn btn-dark border"><a href="">Ventas</a></button>
    </li>
    <li class="p-3 mt-3">
      <button class="btn btn-dark border"><a href="">Reportes</a></button>
    </li>
  </ul>
</div>
