<div class="col-lg-12 mt-2">
   <div class="row">
        <div class="col-lg-6">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title"> <i class="bi bi-basket-fill"></i> Productos más vendidos</h5>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Total vendidos</th>
                                <th>En stock</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td></td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-cart-plus-fill"></i> Últimas ventas</h5>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Total vendidos</th>
                                <th>En stock</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td></td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-12 mt-2">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title"> <i class="bi bi-plus-square-fill"></i> Productos recientemente añadidos</h5>
                    <div class="row">
                        <div class="col-lg-4">
                            <a href="">
                                <img src="" alt="">
                                <p></p>
                                <span>costo</span>
                            </a>
                            <p>categoria</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </div>
</div>