{% extends "base.html.twig" %}


{% block container %}
	<div class="col-lg-12">
		<div class="card" style="width: 100%;">
			<div class="card-body">
				<h5 class="card-title">
					<i class="bi bi-people-fill"></i>
					Usuarios
				</h5>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>Nombre de usuario</th>
							<th>Rol</th>
							<th>Estatus</th>
							<th>Opciones</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
